<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Acesso ao Carrinho Inteligente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <%- include( "./partials/header.ejs") %>
    <body>
        <%- include("./partials/navbar") %>
        <div class="container">
            <hr>
            <h1>Solicitação de Componente</h1>
            <hr>
            <a href="/perguntar" class="btn btn-primary">Solicitar</a>
            <hr>
        </div>
     
    </body>
    <%- include("./partials/footer.ejs") %>
</html>

